services:
  server:
    build:
      context: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    environment:
      - MONGODB=mongodb://mongo:27017/Phone
      - PORT=5000
      - JWT_SECRET=xtj4vHGI1gMqfZP0mTKkQUeD5ASlWYzoF9ciru8VRXsJLBO6ndhbC27Np3aEyw
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY:-}
      - CLIENT_URL=http://localhost:3000
      - CORS_ORIGINS=http://localhost:3000,http://localhost:3001
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      args:
        VITE_BACKEND_URL: http://localhost:5000
    ports:
      - "3000:80"
    depends_on:
      - server

  admin:
    build:
      context: ./admin
      args:
        VITE_BACKEND_URL: http://localhost:5000
    ports:
      - "3001:80"
    depends_on:
      - server

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:


